@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --primary-color: #22254b;
    --secondary-color:#373b69;
}
body {
    font-family: 'Poppings', sans-serif;
    margin: 0;
    background-color: var(--primary-color);
}
header{
    padding:1rem;
    background-color: var(--secondary-color);
}
.header-wrapper {
    display:flex;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}
.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
}
.nav-list__item {
    padding-right: 3rem;
}
.nav-list__item a{
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}
.header__search {
    background-color: transparent;
    border:2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}
.header__search:focus {
    outline: 0;
    background-color: var(--primary-color);
}
.header__search::placeholder {
    color: #7378c5;
}
#main {
    max-width: 80%;
    margin: 0 auto;
}
.collection__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.collection__item {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}
.collection__item img {
    width: 100%;
}
.collection__item-info {
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    min-height: 70px;
}
.collection__item-info h3 {
    margin: 0;
}
.collection__item-info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.collection__item-info span.green{
    color:lightgreen;
}
.collection__item-info span.orange{
    color:orange;
}
.collection__item-info span.red{
    color:red;
}
.overview {
    position: absolute;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(255,255,255);
    padding:1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}
.collection__item:hover .overview {
    transform: translateY(0);
} 
#tags {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto
}
.tag {
    color: white;
    padding:10px 20px;
    margin:10px;
    background-color: black;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
}
.tag__highlight {
    background-color:red;
}
.collection_genres-wrapper {
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.collection__item-genre {
    padding: 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 50px;
    margin: 0 5px 5px;
}
.collection-title {
    font-size: 2.8rem;
    font-weight: bold;
    color: white;
    padding: 100px 0 30px;
}
.collection-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}
.add-fav {
    padding-right: 15px;
}
.add-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.add-icon .add-tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
  
.add-icon:hover .add-tooltip {
    visibility: visible;
}
.collection-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.popup__details-wrapper {
    color:white;
}
.popup__details {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(-50%);
    max-width: 70%;
    width: 100%;
    margin:0 auto;
    z-index: 10;
    background-color: rgb(41, 41, 41);
    display:none;
}
.body__overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left:0;
    display:none;
}
.popup__banner {
    position: relative;
}
.popup__close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: bold;
    font-size: 2rem;
    color:white;
    display:none;
    z-index: 100;
    cursor: pointer;
}
.popup__banner-wrapper {
    display: flex;
    align-items: center;
    padding:50px;
    background-color: var(--secondary-color);
    background-position: center;
    background-size: cover;
}
img.popup__banner-img {
    max-width: 500px;
}
.popup__banner-title h1 {
    font-size: 5rem;
}
.popup__banner-details {
    padding: 50px;
}
.popup__info {
    font-size: 1.8rem;
}
.popup__overview {
    padding:20px 50px;
    font-size:1.4rem;
}
.popup__actors-wrapper {
    display:block
}
.popup__bottom {
    padding: 30px 60px;
}
div#actorsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
}
.popup__actor {
    width: 17%;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 30px;
}
.popup__actor-img img {
    max-width: 100%;
}

.popup__actor-img {
    padding: 10px 10px 0;
}
.popup__actor-img img {
    border-radius: 12px;
}
.actor-name {
    font-weight: 600;
    font-size: 18px;
    padding:10px 0;
}
.character-name {
    text-align:center;
    padding-bottom: 10px;
    font-size: 16px;
}
.popup__actor-name {
    padding: 5px 12px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}